@font-face {
  font-family: "IQOS";
  src: url("fonts/IQOSW04Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
body{
  font-family: "IQOS";
  color: #34303d;

}
button{
  padding: 12px 32px;
  background-color:  #34303d;
  color: #fff;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  font-family: "IQOS";
  cursor: pointer;
}
.header__desctop{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 26px 40px;
  background-color: #fff;
  color: #949494;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 5;
}
.header__nav-link__item{
  display: flex;
  align-items: center;
  color: inherit;
}
.header__nav{
  display: flex;
  width: 100%;
  align-items: start;
  padding-left: 55px;
}
.header__nav-link{
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
}
.header__icons{
  display: flex;
  gap: 24px;
}
main{
  position: relative;
}
.container{
  width: 70vw;
  margin: 0 auto;
}
.modal__wrapper{
  position: relative;
  transition: all .3s ease;
}
.modal__wrapper.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;  
  background: rgba(52, 48, 61, 0.6);  
}
.modal{
  display: none;
}
.modal.active {
  position: absolute;
  display: block;
  width: 437px;
  padding: 50px;
  background-color: #fff;
  z-index: 7;
}
.modal__title{
  font-size: 24px;
  margin-bottom: 40px;
}
.modal__close{
  position: absolute;
  top: 55px;
  right: 50px;
  cursor: pointer;
}
.modal__form{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}
.modal__form-input{
  padding: 15px;
  border: 1px solid #e1e0e2;
  border-radius: 3px;
}
.modal__form-label{
  font-size: 12px;
  margin-bottom: 8px;
}
.modal__form-dates{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 14px;
}

.modal__form-dates p:first-child{
  font-weight: 700;
}
.modal__form-date{
  padding: 8px 24px;
  border-radius: 3px;
  border: 2px solid #949494;
  cursor: pointer; 
}
.modal__form-date.active{
  border: 2px solid #34303d;
}
.modal__form-time{
  color: #00D1D2;
  cursor: pointer;
}
.modal__form-calendar{
  display: none;
}
.modal__form-calendar.active{
  position: relative;
  display: block;
}
.calendar__content{
  position: absolute;
  top: -20px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  padding: 10px;
  gap: 10px;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 8;
}
.calendar__content-item{
  padding: 5px 10px;
  cursor: pointer;
}
.calendar__content-item.active{
  background-color: #00D1D2;
  border-radius: 60px;
}
.thunks{
  display: none;
}
.thunks.active{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 437px;
  height: 100%;
  padding: 50px;
  background-color: #fff;
  z-index: 7;
}
.main__section{
  position: relative;
  height: calc(100vh - 84px) ;
}
.desc{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 26px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #b8b7bb;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}
.desc-mobile,
.header__mobile{
  display: none;
}
.main__nav{
  display: flex;
  gap: 5px;
  padding: 20px 0;
  margin-bottom: 32px;
  
}
.main__nav-link{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #949494;
}
.main__content{
width: 564px;
}
.main__content-prev{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00d1d2;
  margin-bottom: 40px;
}
.main__content-title{
  font-size: 28px;
  margin-top: 16px;
}
.main__content-desc{
  margin: 32px 0;
}
.main__content-btns{
  display: flex;
  gap: 16px;
}
.main__content-btn{
  color: #34303d;
  background-color: #fff;
  border: 2px solid #34303d;
}

@media (max-width:945px){
  .header__desctop,
  .desc{
    display: none;
  }
  .container{
    margin: 0 32px;
    width: auto;
  }
  .desc-mobile{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #949494;
    background-color: #fff;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);
    text-transform: uppercase;
    padding:15px 32px ;
    font-size: 12px;
    z-index: 6;
  }
  .header__mobile{
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.08);
    z-index: 9;
  }
  .header__mobile-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    min-width: 63px;
  }
  .header__mobile-link:nth-child(3){
    position: relative;
    top: -20px;
    background-color: #00D1D2;
    padding: 20px;
    border-radius: 100px;
  }
  .header__mobile-link__name{
    font-size: 10px;
  }
  .main__content{
    width: 100%;
   padding-bottom: 100px;
  }
  .main__content-title{
    font-size: 24px;
  }
  .main__content-desc{
    width: 300px;
  }
  .main__content-btns{
    flex-direction: column;
    align-items: stretch;
  }
  .modal.active,
  .thunks.active{
    width: 100%;
   padding: 20px;
  }
  .modal.active{
   padding-bottom: 150px;
  }
  .calendar__content {   
 left: 0px;
  }
  .modal__close{
    right: 20px;
    top: 20px;
  }
  .thunks.active{
    position: fixed;
    border-radius: 30px 30px 0 0 ;
    height: 230px;
    bottom: 60px;
  }
}